.card {
    display: flex;
    position: relative;
    .stack {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        position: absolute;
    }
    .bod {
        // border: solid 2px black;
        
        img {
            width: 100%;
            height: 100%;
        }
        
        &:hover {
            filter: blur(3px);
            
            ~ .description {
                display: flex;
            }
        }
    }
    
    .description {
        color: white;
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .card {
        // gap: 1rem;
        flex-direction: column;
        .description {
            color: black;
            position:initial;
            display: flex;
            background-color: white;
            border: 1px solid gray;
            border-radius: 20px;
            margin: 10px;
            padding: 5px;
        }
    }
}